@using Musicorum.Web.Models.News

@model NewsFormModel

<input asp-for="NewsId" type="hidden" />

<div class="form-group">
    <label asp-for="@Model.Title"></label>
    <input asp-for="@Model.Title" class="form-control"></input>
    <span asp-validation-for="@Model.Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Photo"></label>
    <small>.png та .jpeg формати підходящі</small>
    <input asp-for="Photo" accept="image/*" class="form-control"></input>
    <span asp-validation-for="Photo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ShortDescription"></label>
    <textarea asp-for="ShortDescription" class="form-control" rows="3"></textarea>
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Text"></label>
    <textarea asp-for="Text" class="form-control" rows="7"></textarea>
    <span asp-validation-for="Text" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="int-rad-cont">
        <label asp-for="IsFavorite"></label>
        <input asp-for="IsFavorite" type="checkbox" class="int-rad">
    </div>
    <span asp-validation-for="IsFavorite" class="text-danger"></span>
</div>

@{
      @await Html.PartialAsync("_ValidationScriptsPartial")
}